[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
gunicorn = "*"
psycopg2-binary = "*"
dj-database-url = "*"
whitenoise = "*"
django = "*"
djangorestframework = "*"
django-rest-auth = "*"
django-allauth = "*"
python-decouple = "*"

[requires]
python_version = "3.7.6"
